PHP_URI=tcp://fpm:9000

# Custom

## Change to true after install
NEXTCLOUD_INSTALLED=false

## Figure out how to generate/extract
NEXTCLOUD_INSTANCE_ID=
NEXTCLOUD_SECRET=
NEXTCLOUD_PASSWORD_SALT=

# http or https to overwrite or empty to autodetect
OVERWRITEPROTOCOL=

# From official image
NEXTCLOUD_TRUSTED_DOMAINS=localhost:8080

TRUSTED_PROXIES=172.16.0.0/16 192.168.0.0/16 10.0.0.0/8

POSTGRES_HOST=database
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=testing123

MAIL_DOMAIN=example.com
MAIL_FROM_ADDRESS=no-reply

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_SECURE=
SMTP_NAME=
SMTP_PASSWORD=
